@model Person
@{
    ViewData["Title"] = "Person";
}

<h1>Person Added</h1>
<table class="table" style="max-width: 500px">
    <tbody>
        <tr>
            <td><b>First Name: </b></td>
            <td>@Model.First_Name</td>
        </tr>
        <tr>
            <td><b>Last Name: </b></td>
            <td>@Model.Last_Name</td>
        </tr>
        <tr>
            <td><b>Birth Date: </b></td>
            <td>@Model.Date_of_Birth.ToString("yyyy-MM-dd")</td>
        </tr>
        <tr>
            <td><b>Address: </b></td>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <td><b>City: </b></td>
            <td>@Model.City</td>
        </tr>
        <tr>
            <td><b>Country: </b></td>
            <td>@Model.Country</td>
        </tr>
        <tr>
            <td><b>Province: </b></td>
            <td>@Model.Province</td>
        </tr>
    </tbody>
</table>