@model Flower

@{
    ViewData["Title"] = "Add Flower";
}
<h1 class="text-center">Add Flower</h1>
<form method="post">
    <div class="form-group mt-3">
        <label asp-for="@Model.PlantName" class="form-label">Flower Name</label>
        <input asp-for="@Model.PlantName" type="text" class="form-control">
    </div>
    <div class="form-group mt-3">
        <label asp-for="@Model.PlantType" class="form-label">Flower Type</label>
        <input asp-for="@Model.PlantType" type="text" class="form-control">
    </div>
    <div class="form-group mt-3">
        <label asp-for="@Model.Price" class="form-label">Flower Price</label>
        <input asp-for="@Model.Price" type="text" class="form-control">
    </div>
    <div class="form-group mt-3">
        <label asp-for="@Model.FlowerColor" class="form-label">Flower Color</label>
        <input asp-for="@Model.FlowerColor" type="text" class="form-control">
    </div>
    <div class="form-group mt-3">
        <label asp-for="@Model.Scent" class="form-label">Flower Scent</label>
        <input asp-for="@Model.Scent" type="text" class="form-control">
    </div>
    <div class="form-group mt-3">
        <label asp-for="@Model.QuantityAvailable" class="form-label">Available Quantity</label>
        <input asp-for="@Model.QuantityAvailable" type="text" class="form-control">
    </div>
    <div class="form-group mt-3 mb-5">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>